In [3]:
#QNO1    a,b,d

In [4]:
#QNo2 b

In [ ]:
#QNO3 b

In [5]:
#QNO4 d

In [ ]:
#QNO5 d

In [ ]:
#QNO6 b

In [ ]:
#QNO7   a,b

In [ ]:
#QNO8 b

In [3]:
#QNO9
dict1 = {
    "name":"Sana Aftab Abbasi",
    "age":12
}
if(dict1["name"]=="Sana Aftab Abbasi"):
    print(dict1["name"])
try:
    if(dict1["name1"]):
        print("Exsists")
except:
    print("Not Exists")

Sana Aftab Abbasi
Not Exists

In [9]:
#QNO10
list1 = {
    "name":"Sana Aftab Abbasi",
    "fname":"Aftab Ahmed Khan Abbasi",
    "desc":"I am Sana Aftab Abbasi and daughter of Aftab Ahmed Khan Abbasi"
}
count=0
for i in list1.values():
    if(i.find("Sana")):
        count+=1
if(count%2==0 and count!=0):
    print("Sana is repeated ",count," times")
else:
    print("No match found")

Sana is repeated  2  times

In [6]:
#QNo11

X=["Feb",'Apr','Mar','May','Jun','Jul','Aug','Jan']
print(X[0:3])
print(X[2:8])
print(X[4:9])
print(X[1:7:2])
print(X[-1:-7])
print(X[-7:7])
print(X[-1:-8:-2])
print(X[:4])

['Feb', 'Apr', 'Mar']
['Mar', 'May', 'Jun', 'Jul', 'Aug', 'Jan']
['Jun', 'Jul', 'Aug', 'Jan']
['Apr', 'May', 'Jul']
[]
['Apr', 'Mar', 'May', 'Jun', 'Jul', 'Aug']
['Jan', 'Jul', 'May', 'Apr']
['Feb', 'Apr', 'Mar', 'May']

In [7]:
#QNo12 

X=[9,2,8,4,5]
X.remove(9)
print(X)

[2, 8, 4, 5]

In [8]:
#QNo13
p=3
q='hello!'
print(q*p)

hello!hello!hello!

In [9]:
#QNO14
y='this is a randon sentence'
print(y.upper())

THIS IS A RANDON SENTENCE

In [10]:
#QNO15
p=True
q='True'
r=2
s=2.0
print(type(p))
print(type(q))
print(type(r))
print(type(s))

<class 'bool'>
<class 'str'>
<class 'int'>
<class 'float'>

In [11]:
#QNo16 2)

In [12]:
#QNo17 4)

In [13]:
#QNo18 
X=4
Y=2
print(X%Y)
print(X/Y)
print(X//Y)

0
2.0
2

In [17]:
#QNO19a
x=[[4,1,1],[5,9,0]]
for i in x:
    for j in i:
        print(j)
for i in x:
    for j in i:
        print(j,,sep="\t")

4
1
1
5
9
0
4
1
1
5
9
0

In [12]:
#QNO19b
x=[[4,1,1],[5,9,0]]
for i in range (0,3):
    for j in range(0,2):
        print(x[j][i], end='\t')
    print('\n')

4	5

1	9

1	0

In [14]:
#QNO19c
x=[[4,1,1],[5,9,0]]
for i in range (0,2):
    for j in range(0,3):
        print(x[i][j], end='\t')

4	1	1	5	9	0

In [4]:
#QNo20 3)
q=[10.62,16.14,6.45,17.11]
for j,z in enumerate(q):
    print('item'+str(j)+"-",str(z))

item0- 10.62
item1- 16.14
item2- 6.45
item3- 17.11

In [6]:
#QNo21 b , d

In [7]:
#QNo22 a)
D=dict()
for i in range(3):
    for j in range(2):
        D[i]=j
print(D)

{0: 1, 1: 1, 2: 1}

In [8]:
#QNO23     True    True    False

In [9]:
#QNO24 
def avg(x,y,z=50):
    adding=x+y+z
    avg_value=adding/3
    return avg_value
y=avg(x=5,y=9,z=20)
print(y)

11.333333333333334

In [11]:
#QNO25   output   (Error because The pointer will get all the values and second parameter will not be able to get one)

In [12]:
#QNO28  b)

In [13]:
#QNO29   c)

In [14]:
#QNO30  d)

In [29]:
#QNO31  Output (No output)

In [16]:
#QNO32  Output ( a a a a a a)

In [17]:
#QNO33   Output (Error)

In [19]:
#QNO34   Output ( 0 1 2 3 4)

In [20]:
#QNO35  Output (Error Lambad Expression is a one line fuction)

In [21]:
#QNO36
i=0
def change(i):
    i=i+1
    return i
b= change(1)
print(b)

2

In [26]:
#QNO40   Output  (  <class 'tuple'>  (2, 3, 4) )

In [27]:
#QNO41  Output   (  <class 'dict'>  )

In [28]:
#QNO42  Output  (Error)

In [30]:
#QNO43 Output  (15)

In [34]:
#QNO44   C)

In [32]:
#QNO45    A) C)

In [1]:
#QNO46
marks = int(input("Enter your Marks:  "))
if(marks >= 90):
    print("Grade A")
elif(marks >= 80 and marks <= 90):
    print("Grade B")
elif(marks >= 70 and marks <= 80):
    print("Grade C")
elif(marks >= 60 and marks <= 70):
    print("Grade D")
elif(marks <= 60):
    print("Grade E")

Enter your Marks:   92

Grade A